<div class="container">
	<div class="row">
		<div class="modal-header">
			<h4 class="modal-title" id="small-modal-label">Pedidos recebidos como vendedor</h4>
		</div>

		<div class="modal-body">
			<div style="display: flex; flex-wrap: wrap; justify-content: space-between;padding: 30px;">
				<% OrderStatus.constants.each do |status| %>
					<%= link_to from_clients_orders_path(status: status.downcase), class: "btn btn-success" do %>
						<%= status %> ( <%= orders_amount_by_status(@orders, status) %> )
					<% end %>
				<% end %>
			</div>

			<%= render partial: "orders/client/#{@status}.html.erb", locals: { status: @status.upcase, orders: @orders } %>
		</div>

	</div>
</div>
