<div class="modal fade in" id="exit-shop-modal" tabindex="-1" role="dialog" aria-labelledby="exit-shop-modal-label" aria-hidden="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content" data-border-top="multi">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="small-modal-label">Mensaje de Avertencia</h4>
			</div>
			<div class="modal-body">
				Seguro desea Salir de la Tienda? Há produtos en lo carro.
			</div>
			<div class="modal-footer">
				<div class="actions">
					<%= link_to "Aceptar", '', class: "btn btn-danger", id: "exit-shop-button" %>
					<a href="#" data-dismiss="modal" class="btn btn-default"><span style="color:#000">Cancelar</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
