<h1>Editar Tienda</h1>

<br />
<%= render 'form_edit' %>

<br />

<%= link_to 'Ver la Tienda', @shop, role: 'button', class: 'btn btn-success btn-sm' %> |
<%= link_to 'Todas las Tiendas', shops_path, role: 'button', class: 'btn btn-success btn-sm' %>
