<h1>Editing Pago</h1>

<%= render 'form' %>

<%= link_to 'Vista previa del pago', @pago, role: 'button', class: 'btn btn-success btn-sm' %> 
<%= link_to 'Volver', pagos_path, role: 'button', class: 'btn btn-success btn-sm' %>
