
<h1 align="center" style="padding: 10px;">Mis Tiendas</h1>

<div class="row">
	<div class="col-md-12">

		<% if @shops.blank? %>
		<p>Você não possui nenhuma loja.</p>
		<hr>
		<% end %>

		<%= link_to "Volver", root_path, role: 'button', class: 'btn btn-primary btn-xs' %>
	</div>
</div>

<%= render partial: "/shops/stores" %>
