<div class="container">
	<h1 align="center" style="padding: 10px;">Minhas Lojas</h1>

	<div class="row">

		<% if @shops.blank? %>
		<br/>
		<p>Para criar sua loja, precisa entrar no seu prédio!</p>
		<br/>
		<% end %>

		<%= render @shops %>
	</div>
</div>
