<h1>Editing Alejandro</h1>

<%= render 'form' %>
<br />
<%= link_to 'Show', @alejandro, role: 'button', class: 'btn btn-success btn-sm' %> 
<%= link_to 'Back', alejandros_path, role: 'button', class: 'btn btn-success btn-sm' %>
