<h1>New Alejandro</h1>
<p>Todo lo registrado aqui debe coincidir con un</p>
<p>registro de pago registrado por un usuario.</p>
<p>Debe ser validado por Alejandro</p>
<br />
<%= render 'form' %>
<br />
<%= link_to 'Back', alejandros_path, role: 'button', class: 'btn btn-success btn-sm' %>
