<div class="container">
	<h1>New Alejandro</h1>
	<hr>
	<p>Todo lo registrado aqui debe coincidir con un</p>
	<p>registro de pago registrado por un usuario.</p>
	<p>Debe ser validado por Alejandro</p>

	<%= render 'form' %>

	<%= link_to 'Voltar', alejandros_path, role: 'button', class: 'btn btn-primary btn-sm' %>
</div>
