<meta name="apple-mobile-web-app-capable" content="yes">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700" rel="stylesheet" type="text/css">

<div class="container">

	<%= form_for("", url: root_path, method:'get', html: { role: 'form', id: "shops_index" } ) do |f| %>
		<h1 align="center">Edificios con tiendas disponibles:</h1>

		<div class="col-md-12 pure-css-select-style theme-default">
			<%= f.select :predio_id, @predios.collect {|p| [p.name, p.id, { data: { path: predio_shops_path(p) } }] }, { prompt: 'Elige un edificio' }, class: 'edificios' %>
		</div>
		<div class="col-md-12" align="center" style="padding: 10px;">
			<%= f.submit "Entrar", class: "btn btn-success btn-edificios" %>
		</div>
	<% end %>

</div>
