<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Oi, <%= @user.name %></h1>
	<p>
		Estamos te lembrando que sua assinatura será cobrada em 3 dias
	</p>
</body>
</html>
