<h1>Puedes escribirnos al whatsapp si:</h1>
<ul>
    <li>Quieres tener tu propia tienda</li>
    <li>Tu edificio no aparece en la lista de edificios</li>
    <li>Tienes dudas o consultas</li>
    <li>Tienes sugerencias o reclamos</li>
</ul>
<h3>+569 3346 4921</h3>
<h3>+559 92981 395001</h3>