<div class="container" style="margin-top:25px">
  <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-md-12">
          <p class="title-edit">Puedes escribirnos al whatsapp si:</p>
        </div>
      </div>
      <hr>
      <div class="panel-body">
        <ul>
            <li>Quieres tener tu propia tienda</li>
            <li>Tu edificio no aparece en la lista de edificios</li>
            <li>Tienes dudas o consultas</li>
            <li>Tienes sugerencias o reclamos</li>
        </ul>
        <h3>+569 3346 4921</h3>
        <h3>+559 92981 395001</h3>
      </div>
    </div>
  </div>
</div>
