/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require animate
*= require scaffolds
*= require menu
*= require_self
*= require bootstrap-select
*/

/* Only necessary if you are using navbar-fixed-top */
body {
	padding-top: 50px;
}
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
.button3 {
	background-color: white;
	color: black;
	border: 2px solid #f44336;
}
.button3:hover {
	background-color: #f44336;
	color: white;
}
.button1 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}
.button1:hover {
	background-color: #4CAF50;
	color: white;
}
h2.clase {  display:inline;}
p.otra {
	display:inline;
	color: black;
}
a.link {color: blue; text-decoration: underline;}
