@media (max-width: 475px) {
  .predios-head > img {
      width: 70px !important;
  }
  .predios-head > div > h2 {
    font-size: 25px;
    margin-top: 7px;
  }
  .predios-head > div {
    margin-left: 15px !important;
  }
  .predios-head {
    margin-bottom: 15px !important;
  }
}
