.predios-head {
  display: -webkit-box;
  margin-bottom: 25px;
}
.predios-head > img {
  width: 100px
}
.predios-head > div {
  margin-left: 25px;
}
.input-search {
  width: 100%;
  border-radius: 9px !important;
  border: 2px soliD #989898;
  font-size: 19px;
  padding-left: 11px;
}
.btnMeusPedidos {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
  margin-bottom: 30px;
  width: 100%;
}
.btnMeusPedidos:hover, .btnMeusPedidos:focus {
	background-color: #212121;
	border-color: #212121;
}
.iconCart {
  width: 30px;
  height: 30px;
  background-color: #38b44a;
  color: white;
  font-size: 19px;
  border-radius: 50%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  margin-top: 35px;
  margin-left: 5px;
}
.iconCart > span {
  padding-top: 2px;
  display: block;
}
.alreadyCart {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}
.title-edit {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.text-right {
  text-align: right;
}
.margin-top-40 {
  margin-top: 40px;
}
.input-btn-search {
  background-color: #10100e;
  color: #e2e2e2;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  position: absolute;
  right: 15px;
  bottom: 0px;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.text-found {
  font-size: 19px;
  border-bottom: 2px solid #2d2d2d;
  width: 270px;
  float: right;
  text-align: center;
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  padding-bottom: 5px;
  color: black;
}
.header-store {
  background-color: #FDF25C;
  padding: 30px;
}
.margin-top-0 {
  margin-top: 0;
}
.logo-product {
  margin-bottom: 20px;
}
.footer-cart {
  background-color: #000;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-cart > a > img {
  width: 45px;
  margin-top: -40px;
}
.inline {
  display: -webkit-box;
}
.build {
  width: 18px;
}
.build-name {
  margin-top: 2px;
  margin-left: 15px;
  margin-bottom: 25px;
  font-size: 28px;
}
.price-product {
  margin-top: 10px;
  margin-left: -4px;
}
.price-product > span {
  padding: 15px;
  border: 1px solid #bbbbbb;
  width: 70px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
}
.btn-plus {
  text-align: center;
  background-color: #B5E51D;
  display: block;
  width: 60px;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -9px;
}
