<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Oi, Cliente <%= @user.name %></h1>
	<p>
		O pedido <strong>#<%= @status.order.id %></strong> foi atualizado. Agora ele possui o status <strong><%= @status.status %></strong>
	</p>
</body>
</html>
